<div class="bx-product">
    <div class="product-fhalf">
        <img src="assets/img7.jpg" alt="">
        <p class="bx-p">Modern <br>
        Architecture and Interior</p>
    </div>
    <div class="product-shalf">
        <div class="first">
        <div class="column">
            <div class="card">
             
              <div class="container">
                <img src="assets/img4.jpg" alt="">
                
                <p class="title">MODERN HOMES</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
             
              <div class="container">
                <img src="assets/img3.jpg" alt="">
                
                <p class="title">MODERN KITCHEN</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
             
              <div class="container">
                <img src="assets/img2.jpg" alt="">
                
                <p class="title">FURNITURES</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
        
    </div>
    <div class="second">
        <div class="column">
            <div class="card">
             
              <div class="container">
                <img src="assets/img1.jpg" alt="">
                
                <p class="title">INTERIOR DESIGN</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
             
              <div class="container">
                <img src="assets/img5.jpg" alt="">
                
                <p class="title">LIGHTS</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
             
              <div class="container">
                <img src="assets/img6.jpg" alt="">
                
                <p class="title">OUTDOORS</p>
                <p>Some text that describes me lorem ipsum ipsum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, error? Voluptatem veniam error ullam recusandae.</p>
              </div>
            </div>
          </div>
    </div>
</div>
</div>
